body{
	font-family: avenir next;
	background-color: #fafafa;
	color: #3f3f4f;
	margin: auto;
	max-width: 600px;
	
}

img{
	width: 100%;
	max-width: 600px;
}

h1{
	font-size: 36px;
	text-align: center;
}

h2{
	font-size: 30px;
	color: #333;
	text-align: center;
}

h3{
	font-size: 26px;
	padding-bottom: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: -15px;
}

p{
	margin-top: none;
	padding-left: 10px;
	padding-right: 10px;
}

ul, li, ul ul, ul ul li, li 
{
	list-style-type: none;
	padding: 0;
}

hr{
	height: 1px;
	border: dashed;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #eee;
}

header{
	background-color:#f0393a;
	color: #fff7ce;
}

footer{
	margin-bottom: 20px;
}

/** classes and ids **/
.dim{
	color: #bbb;
}


#info{text-align: left;
	padding: 10px;
}

#rt{background-color: #ef6d83;
	text-decoration: none;
	font-size: 26px;
	color: #fff7ce;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	
	padding-bottom: 5px;
	
}
#rust{background-color: #e0393a;
	text-decoration: none;
	font-size: 26px;
	color: #fff7ce;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	}